<!DOCTYPE html>
<html>
  <head>
    <title>Ballenas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;  
      }
      
    </style>
  </head>

  
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-2">La Ballena Apestosa</h1>
      
      <img class="img-fluid" id="banner" src="https://dfea3972-6543-4e4e-a63d-5e20185f2431-00-18usjovvyp5ju.janeway.replit.dev/static/banner.jpg" height="320">
      
      <h2 class="text-center mt-2 mb-4">Introducción</h2>
      <p class="lead">En las profundidades del mar, Aurora, la ballena hembra, nadaba con gracia y majestuosidad. Sin embargo, había un pequeño problema: su aroma. No era el dulce perfume de las flores o la brisa marina; más bien, era un olor a pescado pasado. Las otras criaturas marinas se alejaban de ella, creando un espacio vacío a su alrededor</p>
      <p class="lead">Aurora no entendía por qué todos huían. Ella solo quería amistad. Un día, mientras flotaba cerca de la superficie, conoció a Lucas, un delfín curioso. Lucas no se inmutó por el olor. En cambio, le sonrió y dijo: “Aurora, tu aroma es único. Es como una firma personal”.</p>
      <p class="lead">Desde entonces, Aurora y Lucas se convirtieron en amigos inseparables. Juntos exploraron los misterios del mar, y Aurora aprendió que incluso los olores extraños pueden unir a las almas afines. Así que, aunque seguía siendo la ballena más apestosa del océano, Aurora encontró la verdadera belleza en su singularidad.</p>

      
      <h2 class="text-center mt-2 mb-4">Informacion adicional</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>

      
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact</button>
        <p class="mb-1">Copyright 2023, Ballenas</p>
      </div>

      
    </div>


    
  </body>
</html> 