<!DOCTYPE html>
<html>
  <head>
    <style>
      h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 40px;
        color: rgb(50, 50, 50);
        text-align: center;
      }
      #banner {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      #container {
        max-width: 720px;
        margin: 0 auto;
      }
      
      .bodytext {
        font-family: Roboto;
        color: rgb(80, 80, 80)
      }
    </style>
    <title>Ballenas</title>
    
  </head>
  <body>
    <div id="container">
      <h1>La Ballena Apestosa</h1>
      <img id="banner" src="https://dfea3972-6543-4e4e-a63d-5e20185f2431-00-18usjovvyp5ju.janeway.replit.dev/static/banner.jpg" height="320">
      <h2>Introducción</h2>
      <p class="bodytext"">En las profundidades del océano, Aurora, la ballena hembra, nadaba con gracia y majestuosidad. Sin embargo, había un pequeño problema: su aroma. No era el dulce perfume de las flores o la brisa marina; más bien, era un olor a pescado pasado. Las otras criaturas marinas se alejaban de ella, creando un espacio vacío a su alrededor.</p>
      <p class="bodytext">Aurora no entendía por qué todos huían. Ella solo quería amistad. Un día, mientras flotaba cerca de la superficie, conoció a Lucas, un delfín curioso. Lucas no se inmutó por el olor. En cambio, le sonrió y dijo: “Aurora, tu aroma es único. Es como una firma personal”.</p>
      <p class="bodytext">Desde entonces, Aurora y Lucas se convirtieron en amigos inseparables. Juntos exploraron los misterios del mar, y Aurora aprendió que incluso los olores extraños pueden unir a las almas afines. Así que, aunque seguía siendo la ballena más apestosa del océano, Aurora encontró la verdadera belleza en su singularidad.</p>
      <h2>Informacion adicional</h2>
      <p>TODO nueva informacion adicinal</p>
      <div style="text-align:center;">
        <button>Contact</button>
        <p>Copyright 2023, Ballenas</p>
      </div>
    </div>
     
  </body>
</html> 